<div class="post--comments">
<h3>Comments</h3>
<%@comments.create.each do |comment|%>
  <div class='comment'>
    <p><span><%=comment.user.name%></span>:&nbsp;<%=comment.text%></p>
    <p></p>
  </div>
<%end%>
</div>