<div class="user-wrapper">
  <% @users.each do |user| %>
    <div class="user">
      <div class="user-image">
        <%=image_tag("https://robohash.org/#{user.id}.png", alt: 'user image')%>r
      </div>
      <div class="user-name">
        <%=link_to user.name, user_path(user), class: 'name'%>
        <%=link_to "Number of posts: #{user.post_counter}",user_posts_path(user), class: 'posts-num'%>
      </div>
    </div>
  <% end %>
</div>